<div class="favorite">
	<%- unless current_user.favorite_inspirations.exists?(id: inspiration.id) -%>
	<%= link_to favorites_path(inspiration_id: inspiration), remote: true, method: :post, :id => 'favorite_submit' + inspiration.id.to_s do %>
		<span class="glyphicon glyphicon-star-empty"></span>
		<% end %>
	<%- else -%>
	<%= link_to favorite_path(inspiration), remote: true, method: :delete do %>
		<span class="glyphicon glyphicon-star"></span>
		<% end %>
	<%- end -%>
</div>