$('#comment_submit<%= @inspiration.id.to_s %>').val('');
$('#comment_submit<%= @inspiration.id.to_s %>').attr('placeholder', 'Add a comment & hit enter.');
$( "<p style='color:green'>Successfully Commented!!</p>" ).insertBefore( "#comment_submit<%= @inspiration.id.to_s %>" );
$('#inspiration-comments').html('<%= escape_javascript(render @inspiration.comments) %>');