<div class="masthead">
	<h1>{ inspire }</h1>
	<p class="lead">a fun new way to share and discover inspirations from books we love</p>

	<div class="new-inspiration" style="max-width: 600px">
		<div class="row">
		<%= form_tag search_books_path, method: :get, class: "form-group" do %>
			<div class="col-md-9">
				<%= text_field_tag :search, params[:search], class: "form-control" %>
			</div>
			<div class="col-md-3">
				<%= submit_tag "Search", name: nil, class: "btn btn-default" %>
			</div>
		<% end %>
		</div>
  </div>
</div>
