// Place all the styles related to the Inspirations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#inspirations {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

.box .btn {
	margin: 15px auto 0 auto;
}

.new-inspiration {
	margin: 25px auto;
	float: none;
	text-align:center;
}

.inspiration {
	background: rgb(97, 202, 198);
	margin-right: 3em;
	padding: 5em;
	max-height: 600px;
	max-width: 600px;
}

p.inspiration-text {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	text-align: center;
	line-height: 2em;
	margin: 0 auto;
	color: whitesmoke;
}