// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*,
*:after,
*:before {
    box-sizing: border-box;
}

.masthead .btn {
    width: 100%;
    background: #101010;
    color: white;
    border: none;
}

.masthead .btn:hover {
    background: #464646;
}

.signup {
    /* Size and position */
    width: 50%;
    margin: 60px auto 30px;
    padding: 15px;
    position: relative;
}

.update-user-form {
    /* Size and position */
    width: 90%;
    margin: 60px auto 30px;
    padding: 15px;
    position: relative;
}
 
.user-form {
    position: relative;
}
 
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.user-form:before, 
.user-form:after { 
    content: " "; display: table; 
}
 
.user-form:after { 
    clear: both; 
}
 
.cbp-mc-column {
    width: 33%;
    padding: 10px 30px;
    float: left;
}
 
.user-form label {
    display: block;
    padding: 40px 5px 5px 2px;
    font-size: 1.1em;
    text-transform: uppercase;
    cursor: pointer;
}

.user-form .remember-me label {
    display: inline-block;
    padding: 0;
    float: left;
}
 
.user-form input,
.user-form textarea,
.user-form select {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.4em;
    padding: 5px 10px;
    color: #101010;
    display: block;
    width: 100%;
    background: transparent;
}
 
.user-form input,
.user-form textarea {
    border: 3px solid #101010;
}
 
.user-form textarea {
    min-height: 200px;
}
 
.user-form input:focus,
.user-form textarea:focus,
.user-form label:active + input,
.user-form label:active + textarea {
    outline: none;
    border: 3px solid #10689a;
}
 
.user-form select:focus {
    outline: none;
}
 
::-webkit-input-placeholder { /* WebKit browsers */
    color: #464646;
    font-style: italic;
}
 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #464646;
    font-style: italic;
}
 
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #464646;
    font-style: italic;
}
 
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #464646;
    font-style: italic;
}
 
.user-submit-wrap {
    text-align: center;
    padding-top: 40px;
    clear: both;
}
 
.user-form input.user-submit {
    background: #10689a;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 2px;
    letter-spacing: 1px;
}
 
.user-form input.user-submit:hover {
    background: #1478b1;
}

/* remember me */
.remember-me {
    width: 28px;
    height: 28px;
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    margin: 20px auto;

    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    position: relative;
}

.remember-me label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 4px;
    top: 4px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.remember-me label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.remember-me label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.remember-me input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}


 
@media screen and (max-width: 70em) {
    .cbp-mc-column {
        width: 50%;
    }
    .cbp-mc-column:nth-child(3) {
        width: 100%;
    }
}
 
@media screen and (max-width: 48em) {
    .cbp-mc-column {
        width: 100%;
        padding: 10px;
    }
}