// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*,
*:after,
*:before {
    box-sizing: border-box;
}

.signup {
    /* Size and position */
    width: 50%;
    margin: 60px auto 30px;
    padding: 15px;
    position: relative;
}
 
.user-form {
    position: relative;
}
 
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.user-form:before, 
.user-form:after { 
    content: " "; display: table; 
}
 
.user-form:after { 
    clear: both; 
}
 
.cbp-mc-column {
    width: 33%;
    padding: 10px 30px;
    float: left;
}
 
.user-form label {
    display: block;
    padding: 40px 5px 5px 2px;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
 
.user-form input,
.user-form textarea,
.user-form select {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.4em;
    padding: 5px 10px;
    color: #101010;
    display: block;
    width: 100%;
    background: transparent;
}
 
.user-form input,
.user-form textarea {
    border: 3px solid #101010;
}
 
.user-form textarea {
    min-height: 200px;
}
 
.user-form input:focus,
.user-form textarea:focus,
.user-form label:active + input,
.user-form label:active + textarea {
    outline: none;
    border: 3px solid #10689a;
}
 
.user-form select:focus {
    outline: none;
}
 
::-webkit-input-placeholder { /* WebKit browsers */
    color: #464646;
    font-style: italic;
}
 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #464646;
    font-style: italic;
}
 
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #464646;
    font-style: italic;
}
 
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #464646;
    font-style: italic;
}
 
.user-submit-wrap {
    text-align: center;
    padding-top: 40px;
    clear: both;
}
 
.user-form input.user-submit {
    background: #10689a;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 2px;
    letter-spacing: 1px;
}
 
.user-form input.user-submit:hover {
    background: #1478b1;
}
 
@media screen and (max-width: 70em) {
    .cbp-mc-column {
        width: 50%;
    }
    .cbp-mc-column:nth-child(3) {
        width: 100%;
    }
}
 
@media screen and (max-width: 48em) {
    .cbp-mc-column {
        width: 100%;
        padding: 10px;
    }
}