@import url(http://www.markmurray.co/codepen/entypostyle.css);
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container-social {
  width: 25em;
  margin: 3em auto;
  overflow: hidden;
}

.row-social {
  margin: 0.5em 0;
  float: left;
  clear: both;
}
.row-social i {
  cursor: pointer;
  display: inline-block;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  width: 90px;
}

.row-social {
  background: transparent;
}
.row-social i {
  color: #34495e;
  border: 2px solid transparent;
  border-radius: 0%;
  padding: 1em;
  position: relative;
  background: transparent;
}
.row-social i:hover {
  top: -2px;
  border-radius: 50%;
}
.row-social i:not(:first-child) {
  margin-left: 1em;
}
.row-social i:nth-child(1) {
  color: #3b5998;
  border-bottom-color: #3b5998;
}
.row-social i:nth-child(2) {
  color: #00a0d1;
  border-bottom-color: #00a0d1;
}
.row-social i:nth-child(3) {
  color: #db4a39;
  border-bottom-color: #db4a39;
}
.row-social i:nth-child(4) {
  color: #c8232c;
  border-bottom-color: #c8232c;
}
.row-social i:nth-child(5) {
  color: #ea4c89;
  border-bottom-color: #ea4c89;
}

/* Share buttons */

#shareme .box{
  float:left;
  width:100%;
}
#shareme .box a{
  color:#404040;
  text-shadow: 0 1px 1px rgba(167,167,167,.4);
}
#shareme .box a:hover{
  text-decoration:none;
}
#shareme .count {
  font-weight:bold;
  font-size:50px;
  float:left;
  border-right:2px solid #57b8d1;
  line-height:40px;
  padding-right:10px
}
#shareme .share {
  float:left;
  margin-left:10px;
  font-size:16px;
  width:82px;
}
#shareme .buttons {
  position: absolute;
  width:294px;
  background-color:#fff;
  border: 1px solid rgba(0,0,0,.2);
  padding:10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#shareme .button {
  float:left;
  max-width:50px;
  margin:0 10px 0 0;
}
#shareme .facebook {
  margin:0 4px 0 0;
}

/* Sharrre for Inspiration */