<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="new-inspiration">
      <%= link_to new_book_inspiration_path(@book), class:"btn btn-primary btn-lg" do %>
              <span class="glyphicon glyphicon-plus"></span> Add an inspiration
            <% end %>
    </div>
  </div><!-- /.container -->
</nav>